apiVersion: v1
kind: Service
metadata:
  name: specjbb-controller
spec:
  clusterIP: None
  selector:
    app: specjbb-controller
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: specjbb-controller
spec:
  serviceName: specjbb-controller
  podManagementPolicy: Parallel
  replicas: 0
  selector:
    matchLabels:
      app: specjbb-controller
  template:
    metadata:
      labels:
        app: specjbb-controller
    spec:
      nodeSelector:
#        goal: service
        kubernetes.io/hostname: node38
      terminationGracePeriodSeconds: 0
      containers:
        - name: controller
          #ALL ENV FROM FILE
          envFrom:
            - configMapRef:
                name: specjbb
            - configMapRef:
                name: specjbb-controller
          env:
            - name: podname
              valueFrom: {fieldRef: {fieldPath: metadata.name}}
          image: specjbb
          command:
            - sh
            - -c
            - >
              target=${podname}.${podname%-*};
              echo targeting: $target;

              ### START PROPOSE Script to parse env from file

              FILES=/etc/config2/*;
              specjbb_paremeters="";
              for key in $FILES;
              do
                if [[ $string == *"specjbb"* ]]; then
                  specjbb_paremeters="${specjbb_paremeters} -D${key##*/}=$(cat $key)";
                fi;
              done;

              echo "$specjbb_paremeters";

              ### END

              set -x;

              java
              $java
              -Dspecjbb.group.count=$(specjbb.group.count)
              -Dspecjbb.txi.pergroup.count=$(specjbb.txi.pergroup.count)
              -Dspecjbb.controller.rtcurve.warmup.step=$(specjbb.controller.rtcurve.warmup.step)
              -Dspecjbb.controller.rtcurve.step=$(specjbb.controller.rtcurve.step)
              -Dspecjbb.controller.type=$(specjbb.controller.type)
              -Dspecjbb.controller.host=$target
              $specjbb_extra
              -jar /home/specjbb/specjbb2015.jar
              -m MULTICONTROLLER
              -l 0

               mv /home/specjbb/result/specjbb2015-* /home/result/${podname}_$(date +%s)

          volumeMounts:
            - name: results
              mountPath: /home/result/

      volumes:
        - name: results
          hostPath:
            path: /tmp/specjbb-results/


  volumeClaimTemplates: []
