# Inputs (from wca, wss with interval 1m/reset 10m):
# - task_wss_referenced_bytes
# - task_mem_bandwidth_bytes
#
# Parameters (wss_reset_cycles 20*1m):
# - task_wss_miss_ratio_threshold = 1% - threshold to treat referenced increased as stable
# - mbw delta = 3m (3 samples)
# - miss stable = 10m (5 samples)
# - wss over time = 1h
#
# Outputs:
# - app_wss

apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: wca-app-wss
spec:
  groups:
  - name: wca-app-wss
    rules:
    # How many misses is accepted (in regard to membw)
    - record: task_wss_miss_ratio_threshold
      expr: "0.01"
      labels:
        source: wca
    # How many misses task has
    - record: task_wss_miss_ratio
      expr: 'delta(task_wss_referenced_bytes[10m]) / delta(task_mem_bandwidth_bytes[3m]) > 0'
      labels:
        source: wca
    # Filter above misses data only when above accepted threshold
    - record: task_wss_ok_ratio
      expr: 'max_over_time(task_wss_ok_ratio[10m]) < scalar(task_wss_miss_ratio_threshold)'
      labels:
        source: wca
    # What was a value of referended then (when threshold is accepted)
    - record: task_wss_referenced_with_ok_ratio
      expr: 'task_wss_referenced_bytes and on(task_name) task_wss_ok_ratio'
      labels:
        source: wca
    # Temporal: aggegate across time (averge by time), find "high" but not max over many or on reset intervals
    # TODO: should be as long as reset interval 1h (or many reset intervals)
    # ot - over_time
    - record: task_wss_ref_with_ok_over_time
      expr: 'quantile_over_time(0.95, task_wss_referenced_with_ok_ratio[1h])'
      labels:
        source: wca
    # ignore first 10 minutes of initizalition
    # lot - low_over_time
    - record: task_wss_ref_with_ok_ratio_low_over_time
      expr: 'task_wss_ref_with_ok_over_time and count_over_time(task_wss_ref_with_ok_over_time[30m:1m]) >= 10'
      labels:
        source: wca
    # Spatial: aggregate over instances (tasks/pods)
    - record: app_wss_v2
      expr: 'quantile(0.95, task_wss_ref_with_ok_ratio_low_over_time) by (app, source) / 1e9'
      labels:
        source: wca
