apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- small
- small-wss
- medium
- medium-wss
- big
- big-wss
- _hmem

commonLabels:
  workload: redis-memtier

images:
- name: memtier_benchmark
  newName: 100.64.176.12:80/wca/memtier_benchmark
  newTag: master

  #toptierlimit.cri-resource-manager.intel.com/pod: "10000000000"
  # moved to hmem/dram-only and hmem-pmem-only
  #cri-resource-manager.intel.com/memory-type: |
  #  pmbench: dram,pmem
commonAnnotations:
  cri-resource-manager.intel.com/affinity: |
    redis: [ redis ]
  cri-resource-manager.intel.com/anti-affinity: |
    redis: [ memtier ]
